# Dependencies
node_modules

# Build outputs
dist

# Development
.env.local
.env.development

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Test
*.test.ts
*.spec.ts
coverage
